@import './src/styles/variables';

.loginBox {
  width: 350px;
  margin: 100px auto;
  border: solid 1px $BoxborderDefaultColor;
  background: $white;

  .logo {
    margin: 35px 0 50px 0;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
  }

  .loginInput .inputBox {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

    input {
      height: 40px;
      margin-bottom: 5px;
      padding-left: 10px;
      border: solid 1px $BoxborderDefaultColor;
      border-radius: 3px;
      background: #fafafa;
    }

    & ::placeholder {
      color: $InputDefaultColor;
    }

    & :focus {
      outline: 1px solid $InputDefaultColor;
    }
  }

  .loginBtn {
    height: 35px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #c4e0fb;
    color: $white;
    font-weight: bold;
  }

  .activeLoginBtn {
    height: 35px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #0095f6;
    color: $white;
    font-weight: bold;
  }

  .findPassword {
    display: block;
    margin: 180px 0 30px 0;
    color: #033568;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
}
