@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '/src/styles/variables.scss';

.login {
  background-color: rgba(242, 242, 242);
  .loginImg {
    width: 400px;
    height: 530px;
    position: relative;
    left: 300px;
    top: 150px;
  }

  .loginContainer {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 300px;
    height: 445px;
    position: relative;
    left: 720px;
    bottom: 300px;
  }

  .logo {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 50px;
  }
}

.pwd,
.loginId,
.loginBtn,
.findPassword {
  background-color: rgba(242, 242, 242);
  border: 1px solid gray;
  border-style: none;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  font-size: 15px;
  margin-top: 3px;
  margin-left: 4px;
  position: relative;
  top: 100px;
  left: 20px;
}

.loginBtn {
  position: relative;
  top: 40px;
  color: white;
  background-color: rgba(5, 153, 252);
  border-style: none;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  font-size: 15px;
  position: relative;
  top: 130px;
  left: 20px;

  &:disabled {
    background-color: rgba(5, 153, 252, 0.9);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: rgba(5, 153, 252, 0.9);
    cursor: pointer;
  }
}

.findPassword {
  position: relative;
  top: 200px;
  left: 80px;
  font-size: 13px;
  font-style: none;
  text-align: center;
  text-decoration: none;
  color: darkblue;
  cursor: pointer;
}
